<style>
    div{
        text-align: center;
    }
</style>

<div>
    <h1>You made it into your account!</h1>
    <form action="/log_out" method="get">
        <button type="submit">Log in</button>
    </form>
</div>