<h1>This is my API output</h1>

<h2><%= activity.key  %></h2>

<form action="/" id="form" class="form" method="post">
<input type="submit" value="post my key 3943506">
</form>
<script src="test.js"></script>