<h1>Test your api request</h1>

<button type="submit" onclick="window.location.href=`/get-get`">get</button>
<button type="submit" onclick="window.location.href=`/get-post`">post</button>
<button type="submit" onclick="window.location.href=`/get-put`">put</button>
<button type="submit" onclick="window.location.href=`/get-patch`">patch</button>
<button type="submit" onclick="window.location.href=`/get-delete`">delete</button>

<p>
    <%=content%>
</p>