<h1>The forum</h1>

<p>Create New Comment</p>

<ul>
    <li>
        <h2>Title of the post</h2>
    </li>
</ul>
<p>Time of posting</p>
<p>Who posted it <span>Edit</span> <span>Remove</span></p>

<ul>
    <li>
        <h2>Title of the post</h2>
    </li>
</ul>

<p>Time of posting</p>
<p>Who posted it <span>Edit</span> <span>Remove</span></p>