<h1>Tst you api request</h1>

<button type="submit" id="noAuth" onclick="window.location.href='/noAuth'">No auth</button>
<button type="submit" id="basicAuth" onclick="window.location.href='/basicAuth'">Basic auth</button>
<button type="submit" id="apiKey" onclick="window.location.href='/apiKey'">Key auth</button>
<button type="submit" id="token" onclick="window.location.href='/bearerToken'">Token auth</button>

<p>
    <%= content %>
</p>